<div class="container-fluid">
  <div class="col-md-1"></div>
    <div class="col-md-10">

      <%= form_for @outfit, class: "form-horizontal" do |f| %>
      <!-- error messages: -->
        <% if @outfit.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@outfit.errors.count, "error") %> prohibited this outfit from being saved:</h2>
            <ul>
            <% @outfit.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        
          <div class="form-group">
            <%= f.label :name %><br>
            <%= f.text_field :name %><br><br>
            <%= f.label :temp, "Temperature" %><br>
            <%= f.collection_select :temp, Outfit::TEMPERATURES, :to_s, :to_s %>
            <br><br>
            <p><strong>Would you wear this outfit if it were raining?</strong></p>
            <%= label :yes, 'Yes' %>
            <%= f.radio_button :rain, true %><br>
            <%= label :no, 'No' %>
            <%= f.radio_button :rain, false %><br>
            <br>
            <p><strong>Is this an outfit for a male or female?</strong></p>
            <%= label :male, 'Male' %>
            <%= f.radio_button :gender, "male" %><br>
            <%= label :female, 'Female' %>
            <%= f.radio_button :gender, "female" %><br><br>
            <p><strong>Please select an image to upload:</strong></p>
            <%= f.file_field :image_upload%>
            <br>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <div class="actions">
            <%= f.submit 'Upload', class: "btn btn-primary" %>
            </div>
            <br>
            <% end %>

<!--  -->