<div class="container-fluid">
  <div class="col-md-2"></div>
    <div class="col-md-8">
      <%= form_for @user do |f| %>
        <div class="form-group" id="new_resource_body">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
          <%= f.label :location %>
          <%= f.text_field :location, class: "form-control" %>
          <p>Gender</p>
          <%= label :male, 'Male' %>
          <%= f.radio_button :gender, 'male' %><br>
          <%= label :female, 'Female' %>
          <%= f.radio_button :gender, 'female' %><br>
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, class: "form-control" %>
          <br>

        <%= f.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
