<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location %><br>
  </div>
  <div class="field">
    <p>Gender</p>
    <%= label :male, 'Male' %>
    <%= f.radio_button :gender, 'male' %><br>
    <%= label :female, 'Female' %>
    <%= f.radio_button :gender, 'female' %><br>
  </div>
  <div class="field">
    <br><%= f.label :password %><br>
    <%= f.password_field :password %><br>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %><br>
  </div>

  <div class="actions">
    <%= f.submit 'Sign Up' %>
  </div>
<% end %>
