<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%=root_url%>">Rain Or Shine</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user %>
       
        <li><a><strong>Welcome, <%= current_user.name %></strong><span class="sr-only">(current)</span></a></li>

         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Account <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="<%=outfits_path%>">All Outfits</a></li>
            <li><a href="<%=new_outfit_path%>">Upload an Outfit</a></li>
          </ul>
        </li>
      </ul>

      <% else %>
       <li class="active"><a href="<%= signup_path%>">Sign Up <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="<%= login_path%>">Log In <span class="sr-only">(current)</span></a></li>

        <% end %>

      <!-- <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->

      <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
       <li class="active"><a href="<%= logout_path%>">Log Out <span class="sr-only">(current)</span></a></li>
      </ul>
      <% end %>

    </div>
  </div>
</nav>